<%# Question Card & Voting List %>
<%=
  render "rounds/round", round: game.current_round,
    is_judge: game.current_player_is_judge?
%>

<%# Participation Form %>
<%- if game.current_participant&.new_record? -%>
  <%= render "participants/form", participant: game.current_participant %>
<%- end -%>

<%# Vote Form %>
<%- if game.current_participant_vote.present? -%>
  <%= render "votes/form", vote: game.current_participant_vote %>
<% end %>

<%# Round Controls %>
<div id="round_controls">
  <%- if game.current_player_is_judge? && game.polling? -%>
    <%= render "completed_rounds/form", round: game.current_round %>
  <%- end -%>
</div>

<%# Next Turn Controls %>
<%- if game.completed? -%>
  <div id="new_turn" class="d-grid gap-2">
    <%=
      link_to(
        "Create Next Turn",
        new_player_turn_path(game.current_player),
        method: :get,
        class: "btn btn-success btn-lg"
      )
    %>
  </div>
<%- end -%>
